@model IEnumerable<MineHControlReports.Models.role>

@{
    ViewBag.Title = "Pefis";
}

<h2>Perfis</h2>

<p>
    @Html.ActionLink("Criar novo Perfil", "Create")
</p>
<table id="myTable" class="display">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
</thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Remover", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</tbody>
</table>
