@model MineHControlReports.Models.menuRole

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Habilitar Menu por Perfil</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>menuRole</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MenuId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.MenuId,new SelectList(ViewBag.menuref,"Id","Name"),String.Empty)
            @Html.ValidationMessageFor(model => model.MenuId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.RoleId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RoleId,new SelectList(ViewBag.roleref,"Id","Name"),String.Empty)
            @Html.ValidationMessageFor(model => model.RoleId)
        </div>

        <p>
            <input type="submit" value="Habilitar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
