@model MineHControlReports.Models.menuReport

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remover Relatório</h2>

<h3>Tem certeza que deseja remover este Relatório?</h3>
<fieldset>
    <legend>menuReport</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
          @{
            string parameterValue = Model.MenuGet();
              }
             @Html.DisplayFor(modelItem => parameterValue )     
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MenuId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Link)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TypeReport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypeReport)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderBy)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Remover" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
