@model MineHControlReports.Models.menuReport

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>menuReport</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MenuId)
    </div>
    <div class="display-field">
        @{
            string parameterValue = Model.MenuGet();
              }
             @Html.DisplayFor(modelItem => parameterValue )       
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Link)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TypeReport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypeReport)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderBy)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
