@model MineHControlReports.Models.goal

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>goal</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.KpiId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.KpiId,new SelectList(ViewBag.kpisref,"Id","Name"),String.Empty)
            @Html.ValidationMessageFor(model => model.KpiId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

      
        <div class="editor-label">
            @Html.LabelFor(model => model.TypeEntity)
        </div>
        <div class="editor-field">
             @Html.DropDownListFor(model => model.TypeEntity,new SelectList(ViewBag.Lista,"Value", "Text", "0"),String.Empty)
             @Html.ValidationMessageFor(model => model.TypeEntity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EntityId)
        </div>
        <div class="editor-field" id="cidades">
            <select id="EntityId" name="EntityId">
                
            </select>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
}
